src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="system-item-db-api-main">
        <http:listener config-ref="system-item-db-api-httpListenerConfig" path="${secure::http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-item-db-api-config" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="system-item-db-api-console">
        <http:listener config-ref="system-item-db-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-item-db-api-config" />
        <error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\items\(item-id):system-item-db-api-config">
        <flow-ref doc:name="get-item-by-uriparam-flo" doc:id="850eb15d-b3c0-417e-9f1c-4c1f43544bc1" name="get-item-by-uriparam-flow" />
        <error-handler ref="globalError_Handler" />
    </flow>
</mule>
